In [1]:
import pandas as pd

In [2]:
fpath = "/Users/beneverman/Documents/Coding/QuantHive/IDVF-Oxford-v1/data/firstratedata_tick_bundle_sample/googl_trade_2023_05_12.txt"

In [5]:
data = pd.read_csv(fpath, header=None)

In [6]:
data

                                 0       1    2  3      4
0       2023-05-12 04:00:00.017479  116.57   90  8    E-B
1       2023-05-12 04:00:00.027445  116.65    2  7    E-B
2       2023-05-12 04:00:00.126033  116.57    7  8  E-B-M
3       2023-05-12 04:00:00.126723  116.69    7  7    E-B
4       2023-05-12 04:00:03.084786  116.69    2  7    E-B
...                            ...     ...  ... ..    ...
422243  2023-05-12 19:59:54.083226  117.49  100  2      E
422244  2023-05-12 19:59:56.495237  117.47    1  1    E-B
422245  2023-05-12 19:59:59.187098  117.44    5  1    E-B
422246  2023-05-12 19:59:59.770867  117.46    2  1    E-B
422247  2023-05-12 19:59:59.771938  117.44    1  1    E-B

[422248 rows x 5 columns]